<div class="container">
  <h2>Shopping Cart</h2>

  <div class="empty" *ngIf="cartItems.length === 0">
    <img src="../../../assets/Images/Shrug-cuate.png" />
    <p>Your cart is empty ...!</p>
  </div>

  <div *ngFor="let item of cartItems; let i = index" class="insidecontainer">
    <div class="product-item">
      <img [src]="item.Image" alt="Product Image" />
      <span class="text">
        <h5>{{ item.productName }}</h5>

        <ng-container *ngFor="let price of prices">
          <ng-container *ngIf="item.productId === price.productId">
            <h6>Price: ${{ price.price }}</h6>
          </ng-container>
        </ng-container>
        <select
          id="quantity{{ i }}"
          [(ngModel)]="item.Quantity"
          (change)="updateCartItem(item)"
          class="custom-select"
        >
          <option *ngFor="let quantity of quantityOptions" [value]="quantity">
            {{ quantity }}
          </option>
        </select>
      </span>
      <span class="btns">
        <button class="btn" (click)="removeFromCart(item)">Remove</button>
        <button class="btn" routerLink="/paymentMethod/{{ item.productId }}">
          Buy Now
        </button>
      </span>
    </div>
  </div>
</div>
