.navbar-nav {
  list-style-type: none;
  text-align: center;
  display: inline-block;
}
.navbar-nav > li {
  display: inline-block;
  margin-right: 10px;
  color: white;
}
form {
  display: inline-block;
  position: absolute;
  right: 50px;
}
.search {
  display: inline-block;
  width: 600px;
  padding: 7px;
  margin-right: 5px;
}

.logo {
  height: 150px;
  left: -10px;
  top: -60px;
  bottom: -40px;
  position: relative;
}
button {
  display: inline-block;
  background-color: rgb(248, 152, 83);
  height: 43px;
}
.firstnav {
  height: 50px;
}

span a {
  margin-left: 40px;
  position: relative;
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  font-size: large;
}

span a:hover {
  color: chocolate;
}

.navbar .secondnav > ul > li > a {
  color: white !important;
  font-weight: bold;
}
.navbar .secondnav > ul > li > a:hover {
  color: chocolate !important;
}

.sidebar {
  width: 250px;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
  left: -250px;
  transition: left 0.3s ease;
  margin: auto;
  overflow-y: auto;
  z-index: 1000;
}

.sidebar.open {
  width: 350px;
  left: 0;
}

.sidebar-toggle {
  background-color: rgba(51, 50, 50, 0.233);
  color: white !important;
  font-weight: bold;
  margin-right: 50px;
  border: none;
}

.close-button {
  position: fixed;
  top: 30px;
  left: 300px; /* Adjust the left position as needed */
  background-color: rgba(0, 0, 0, 0.993);
  border: none;
  color: rgb(12, 11, 11);
  width: 40px;
  height: 40px;
}
.menu2 {
  width: 25px;
}
.sell {
  background-color: rgba(0, 0, 0, 0.13);
  border: none;
  color: white;
  right: 40px;
  position: absolute;
  font-weight: bold;
}
.sell:hover {
  color: chocolate;
}
.navcontent > li {
  color: black !important;
  margin-top: 15px;
  width: 100%;
  height: 40px;
}

.navcontent > li:hover {
  background-color: rgba(110, 119, 119, 0.555);
  width: 90%;
}
.navcontent {
  /* left:15px;*/
  position: relative;
  list-style-type: none;
  width: 100%;
}

.sub {
  left: 15px;
  top: 10px;
  position: relative;
  list-style-type: none;
}
.sub > li {
  margin-top: 5px;
  height: 30px;
}
.sub > li:hover {
  background-color: rgba(137, 145, 145, 0.555);
  width: 80%;
}
.hello {
  background-color: black;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 50px;
}
.arrow {
  width: 10px;
  margin-left: 10px;
}

.sidebar.open {
  width: 300px;
}
.close {
  width: 30px;
  height: 20px;
}
.rocket {
  width: 10px;
  height: 25px;
}

.cart-link {
  position: absolute;
  display: inline-flex;
  align-items: center;
  right: 35px;
}

.cart-no {
  position: absolute;
  top: -5px;
  right: 0;
  color: chocolate;
  padding: 2px 6px;
  border-radius: 50%;
  font-size: 12px;
  font-weight: bolder;
}

.menu{
  position: absolute;
  left: 170px;
  height: 40px;
  width: 50px;
  
}
.secondnav{
  height: 25px;
}
.cart{
  height: 25px;
 margin-top: 10px;
}
.down{
  width: 25px;
  height: 20px;
  margin-left: -5px;
}