<nav class="navbar navbar-dark bg-light firstnav">
  <img class="logo" src="../../assets/Images/images-removebg-preview.png" />

  <button mat-button [matMenuTriggerFor]="menu" class="menu">
    All
    <img class="down" src="../../../assets/Images/down.png" />
  </button> 
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="onCategoryChange(null)">
      All Categories
    </button>
    <button mat-menu-item *ngFor="let cat of subcategories" (click)="onCategoryChange(cat.id)">
      {{ cat.subCategoryName }}
    </button>
  </mat-menu>
  
  

  <form>
    <input
      class="mr-sm-2 search"
      type="search"
      placeholder="Search"
      aria-label="Search"
      (input)="updateSearchQuery($event)"
    />
    <button class="btn btn-outline-success my-2 my-sm-0">
      <img src="../../assets/Images/search (1).png" width="20px" />
    </button>

    <span>
      <a routerLink="signIn">signIn</a>
      <a routerLink="signUp">signUp</a>
      <a href="">Orders</a>
      <a routerLink="/cart">
        <span class="cart-link">
          <span class="cart-no">{{ cartItemCount }}</span>
          <img
            class="cart"
            src="../../assets/Images/shopping-cart.png"
            width="30px"
          /> </span
        >cart
      </a>
    </span>
  </form>
  >
</nav>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse secondnav" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" (click)="toggleSidebar()">
        <button class="sidebar-toggle" (click)="toggleSidebar()">
          <span (click)="toggleSidebar()" *ngIf="!isSidebarOpen"
            ><img class="menu2" src="../../assets/Images/list.png"
          /></span>
        </button>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink=" ">Home </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Electronic</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="#">Fashion </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Mobile Phones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Furniture</a>
      </li>
    </ul>
  </div>
  <button class="sell" routerLink="seller">
    <img
      class="rocket"
      style="width: 50px"
      src="../../assets/Images/rocket.png"
    />
    Start Selling on Easy Shop Today
  </button>
</nav>

<div class="sidebar" [ngClass]="{ open: isSidebarOpen }">
  <h2 class="hello">Hello</h2>
  <ul class="navcontent">
    <li (click)="toggleDisplayDiv()">
      Mobile,tablet and Accsoceries<img
        class="arrow"
        src="../../assets/Images/right-arrow.png"
      />
    </li>
    <ul [hidden]="isShowDiv" class="sub">
      <li>Mobile Phone</li>
      <li>tablets</li>
      <li>Covers</li>
    </ul>
    <li (click)="togglefashion()">
      Fashion<img class="arrow" src="../../assets/Images/right-arrow.png" />
    </li>
    <ul [hidden]="isfashion" class="sub">
      <li>men</li>
      <li>Woman</li>
      <li>Kids</li>
    </ul>
    <li (click)="togglehome()">
      Furniture,Home<img
        class="arrow"
        src="../../assets/Images/right-arrow.png"
      />
    </li>
    <ul [hidden]="ishome" class="sub">
      <li>carpets</li>
      <li>curtains</li>
      <li>Bed</li>
      <li>Office</li>
      <li>Chair</li>
      <li>Sofa</li>
    </ul>
    <li (click)="togglesup()">
      Supermarket<img class="arrow" src="../../assets/Images/right-arrow.png" />
    </li>
    <ul [hidden]="issub" class="sub">
      <li>Pasta,rice</li>
      <li>Vegtables,Fruit</li>
      <li>Coffee,Tea,Beverage</li>
    </ul>
    <li>Help</li>
    <li>Sing in</li>
  </ul>
  <button class="close-button" *ngIf="isSidebarOpen" (click)="toggleSidebar()">
    <img class="close" src="../../assets/Images/close.png" />
  </button>
</div>
