table {
  width: 90%;
}
.example-container {
  width: 80%;
  margin: 50px auto;
  border: 5px solid rgb(182, 120, 32);
  border-radius: 15px;
}
.mat-mdc-form-field {
  font-size: 18px;
  width: 100%;
}

td,
th {
  width: 28%;
  text-align: center;
  padding: 5px;
}

th {
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #1f1f21;
  font-size: medium;
}
