.editable input {
  background-color: white;
  border: 1px solid #ccc;
}

.user-info {
  margin: 50px;
  border: 2px solid chocolate;
  padding: 7px;
  font-family:serif;
  font-size: 20px;
}

.user-address,
.mobile-number {
  margin-bottom: 10px;
}

.Change {
  /* margin-left: 10px; */
  background-color: chocolate;
  margin-top: -40px; 
  right: 50px;
  position: absolute;
}

.payment-methods {
  margin-top: 20px;
}

.payment-method {
  margin-bottom: 10px;
}

.input {
  margin-left: 150px;
  display: flex;
  border: none;
  background-color: white;
}

.info{
  background-color: chocolate;
  margin-left: 5px;
}

