<!-- slider -->
<div class="container">
  <carousel [interval]="2000">
    <slide *ngFor="let slide of slides">
      <img class="slider" [src]="slide.image" alt="Slide Image" />
    </slide>
  </carousel>
</div>

<!-- cards -->
<div class="card-container">
  <div class="row">
    <div class="col-md-4" *ngFor="let product of filteredProducts">
      <div class="card">
     
        <img
        class="card-img-top"
        [src]="'data:image/jpeg;base64,' + product.defaultImage"
        alt="Product Image"
      />
        <div class="card-body">
          <h6 class="card-title">{{ product.title }}</h6>
          <h6 class="card-title">{{ product.brandName }}</h6>
          <h6 class="card-title" style="display: none">{{ product.id }}</h6>
          <h6 class="card-text">Price: {{ product.price }}</h6> 
        <rating [(ngModel)]="product.reviewsAverage"></rating>

          <button class="btn" (click)="addToCart(product)">Add to Cart</button>
          <button class="btn" [routerLink]="'productDetails/' + product.id">
            Details
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<mat-paginator
  class="paginator"
  [length]="products.length"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onPageChange($event)"
  aria-label="Select page"
>
</mat-paginator>

