.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-weight: bold;
  }
  
  .login-form {
    border: 1px solid black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin-left: 30px;
  }
  
  .login-image {
    margin-left: 20px;
    width: 400px; /* Adjust the size as needed */
    height: 600px; /* Adjust the size as needed */
  }
button{
    background-color: chocolate;
    width: 193px;
    margin-top: 10px;
    height: 35px;
    position: relative;
    right: 30px;
    font-weight: bold;
  }
  button:hover{
    background-color: rgb(180, 55, 50);

  }
  