.container {
    margin: 20px;
   
  }
  
  .product-details-container {
    display: flex;
    align-items: center;
  }
  
  .left-container {
    flex: 1;
  }
  
  .right-container {
    flex: 2;
    margin-left: 150px;
    font-weight: bold;
  
  }
  
  .comment-section {
    margin-top: 20px;
    
  }
  
  .other-products-section {
    margin-top: 40px;
  }
  
  .other-products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .product-card {
    width: 30%;
    background-color: #f4f4f4;
    padding: 20px;
    margin-bottom: 20px;
  }
 rating {
  color: rgb(228, 98, 12); /* Set the border color to black */
  font-size: 30px; 
  }
  textarea{
    width:400px;
    height: 100px;
  }
  button{
    background-color: chocolate;
    margin-left: 10px;
    margin-bottom: 30px;
  }
  button:hover{
    background-color: darkgreen;
    
  }
  .text{
    font-weight: bold;
  }
  
