<div class="container">
  <div class="product-details-container">
    <div class="left-container">
      <!-- Display product image here -->
      <!-- <img [src]="product.image" alt="Product Image" /> -->
    </div>
    <div class="right-container">
      <h2>{{ product.title }}</h2>
      <p *ngIf="product.description">Description: {{ product.description }}</p>
      <p *ngIf="product.price">price: {{ product.price }}</p>
      <p *ngIf="product.brandName">BrandName: {{ product.brandName }}</p>
      <p *ngIf="product.hardDiskSize">
        HardDiskSize: {{ product.hardDiskSize }}
      </p>
      <p *ngIf="product.material">Material: {{ product.material }}</p>
      <p *ngIf="product.memoryStorageCapacity">
        MemoryStorageCapacity: {{ product.memoryStorageCapacity }}
      </p>
      <p *ngIf="product.operatingSystem">OperatingSystem: {{ product.operatingSystem }}</p>
    </div>
  </div>

  <!-- add new review -->
  <div class="comment-section">
    <h4>Reviews</h4>
    <rating
      [(ngModel)]="rating"
      (ngModelChange)="onRatingChange($event)"
    ></rating>
    <p class="text">Comments</p>
    <textarea placeholder="Write Comment..."
      [value]="newcomment"
      (input)="updateNewComment($event)"
    ></textarea>
    <button class="btn" (click)="addNewReview()">Send</button>
  </div>

  <div class="previousReviews">
   
      <div class="stars" *ngFor="let review of productreviews">

        <ng-container *ngFor="let customer of allCustomers">
          <ng-container *ngIf="review.customerId === customer.id">
      <h4>{{ customer.name }}</h4>
        
      </ng-container>
      </ng-container>
      <rating [ngModel]="review.rate"></rating>
      <p class="text">{{ review.comment }}</p>
      </div>
   
  </div>

  <!-- randomProducts -->
  <div class="other-products-section">
    <h3>You might also like</h3>
    <div class="other-products-container">
      <!-- Display other product cards here -->
      <div class="product-card" *ngFor="let product of randomProducts">
        <div class="card-container">
          <div class="row">
            <!-- <img
              class="card-img-top"
              [src]="product.image"
              [alt]="product."
            /> -->
            <div class="card-body">
              <h5 class="card-title">{{ product.title }}</h5>
              <h5 class="card-title" style="display: none">
                {{ product.id }}
              </h5>
              <p class="card-text">Price: {{ product.price }}</p>
         
              <button class="btn" [routerLink]="'productDetails/' + product.id">
                Details
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
