.container {
    margin: 20px;
  }
  
  .product-details-container {
    display: flex;
    align-items: center;
  }
  
  .left-container {
    flex: 1;
  }
  
  .right-container {
    flex: 2;
    margin-left: 20px;
  }
  
  .comment-section {
    margin-top: 20px;
  }
  
  .other-products-section {
    margin-top: 40px;
  }
  
  .other-products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .product-card {
    width: 30%;
    background-color: #f4f4f4;
    padding: 20px;
    margin-bottom: 20px;
  }
 rating {
  color: rgb(228, 98, 12); /* Set the border color to black */
   /* Set the fill color to yellow */
 /* Add a black border */
  font-size: 30px; 
  }
  
